--1)MOSTRAR LAS COLUMNAS IDPEIDO,FECHAPEDIDO Y EL MAXIMO PRECIO UNITARIO EN EL PEDIDO
SELECT OrderID,
	OrderDate
FROM Orders;
--2)MOSTRAR TODOS LOS PRODUCTOS CON PRECIO UNITARIO IGUAL AL MAYOR PRECIO DE LOS
--ARTICULOS QUE SON ABASTECIDOS POR EL PROVEEDOR IGUAL A 1
DECLARE @MaxPrice MONEY;
SET @MaxPrice = (
		SELECT MAX(UnitPrice)
		FROM Products
	);
SELECT p.*
FROM Products p
	INNER JOIN Suppliers s ON s.SupplierID = p.SupplierID
WHERE p.UnitPrice >= @MaxPrice
	AND s.SupplierID = 1 --3)MOSTRAR LAS COLUMNAS NOMBRECOMPAÑIA,CIUDAD Y PAIS DE LOS CLIENTES QUE RESIDEN
	--EN EL MISMO PAIS DE LA EMPRESA ANTONIO MORENO TAQUERÍA
SELECT CompanyName,
	City,
	Country
FROM Customers
WHERE CompanyName = 'Antonio Moreno Taquería';
--4)MOSTRAR LAS COLUMNAS NOMBRECOMPAÑIA,CIUDAD Y PAIS DE LOS CLIENTES QUE RESIDEN
--EN UN PAIS DIFERENTE AL DE ANTONIO MORENO TAQUERÍA.
SELECT CompanyName,
	City,
	Country
FROM Customers
WHERE CompanyName != 'Antonio Moreno Taquería';
--5)MOSTRAR LAS COLUMNAS IDCLIENTE Y NOMBRE DE COMPAÑÍA DE TODOS LOS CLIENTES QUE
--HAN REALIZADO AL MENOS UNA PEDIDO.
SELECT c.CustomerID,
	c.CompanyName
FROM Customers c
	INNER JOIN Orders o ON c.CustomerID = o.CustomerID
GROUP BY c.CustomerID,
	c.CompanyName
HAVING COUNT(o.CustomerID) >= 1 --6) MOSTRAR LOS CLIENTES QUE NO HAN REALIZADO PEDIDOS
SELECT c.*
FROM Customers c
	LEFT JOIN Orders o ON c.CustomerID = o.CustomerID
WHERE o.OrderID IS NULL --7)MOSTRAR LOS PEDIDOS QUE HAYAN ADQUIRIDO EL PRODUCTO GUARANÁ FANTÁSTICA
SELECT p.*
FROM Products p
	INNER JOIN [Order Details] od ON p.ProductID = od.ProductID
WHERE p.ProductName = 'GUARANÁ FANTÁSTICÁ' --8)MOSTRAR LOS EMPLEADOS QUE ATENDIERON A ANTONIO MORENO TAQUERÍA
SELECT e.*
FROM Orders o
	INNER JOIN Employees e ON o.EmployeeID = e.EmployeeID
WHERE o.CustomerID = 'ANTON' --9)MOSTRAR EL PRECIO PROMEDIO DE LOS ARTICULOS QUE ABASTECE EL PROVEEDOR TOKYO
	--TRADERS'
SELECT AVG(p.UnitPrice) AS 'Precio Promedio'
FROM Products p,
	Suppliers s
WHERE s.CompanyName LIKE 'TOKYO TRADERS' --10)MOSTRAR EL PRECIO MAXIMO Y EL PRECIO MINIMO DE LOS PRODUCTOS ABASTECIDOS POR
	--EL PROVEEDOR PAVLOVA, LTD.
SELECT MAX(p.UnitPrice) AS 'Precio Maximo',
	MIN(p.UnitPrice) AS 'Precio Minimo'
FROM Products p,
	Suppliers s
WHERE s.CompanyName LIKE 'Pavlova, Ltd.' --11)MOSTRAR CUANTOS PEDIDOS REALIZÓ EL CLIENTE HILARION-ABASTOS.
SELECT COUNT(*) AS 'NUMERO PEDIDOS'
FROM Orders
WHERE CustomerID = 'HILAA' --12)MOSTRAR CUANTOS PRODUCTOS EXISTEN POR CATEGORIAS.
SELECT p.CategoryID,
	Count(*) AS [Total por categoria]
FROM Products p
	INNER JOIN Categories c ON p.CategoryID = c.CategoryID
GROUP BY p.CategoryID;
--13)MOSTRAR EL NUMERO DE UNIDADES VENDIDAS DE CADA PRODUCTO QUE PERTENECEN A LA
--CATEGORIA 4
SELECT p.CategoryID,
	Count(*) AS [Total por categoria]
FROM Products p
	INNER JOIN Categories c ON p.CategoryID = c.CategoryID
GROUP BY p.CategoryID
HAVING p.CategoryID = 4;
--14)MOSTRAR LOS APELLIDOS DE LOS EMPLEADOS Y LA CANTIDAD DE PEDIDOS QUE ATENDIO
--CADA EMPLEADO
SELECT e.LastName,
	COUNT(*) AS [Pedidos Atendidos]
FROM Employees e
	INNER JOIN Orders o ON e.EmployeeID = o.EmployeeID
GROUP BY e.LastName --15)MOSTRAR LOS CODIGOS DE PEDIDO,NUMERO DE ARTICULOS EN EL PEDIDO Y EL SUBTOTAL
	--CON LA CONDICIÓN QUE EL SUBTOTAL SEA SUPERIOR A 1000.
SELECT ProductID,
	COUNT(*) AS [Numero de Articulos]
FROM [Order Details]
GROUP BY ProductID
HAVING SUM(UnitPrice) > 1000 --16)MOSTRAR LOS EMPLEADOS Y EL NUEMERO DE PEDIDOS QUE ATENDIERON POR AÑO
SELECT DATEADD(YEAR, DATEDIFF(YEAR, 0, o.OrderDate), 0) AS Anio,
	COUNT(*) AS [Numero de pedidos]
FROM Orders o
	INNER JOIN Employees e ON o.EmployeeID = e.EmployeeID
GROUP BY DATEADD(YEAR, DATEDIFF(YEAR, 0, O.OrderDate), 0)